<div class="container">
    <table>
        <tr>
            <td>PID</td>
            <td><input type="number" [(ngModel)]="pid"></td>
        </tr>
        <tr>
            <td>PName</td>
            <td><input type="text" [(ngModel)]="pname"></td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input type="number" [(ngModel)]="price"></td>
        </tr>
        <tr>
            <td>Stock</td>
            <td><input type="number" [(ngModel)]="stock"></td>
        </tr>
        <tr>
            <td colspan="2"><button (click)="productadd()">Add Product</button></td>
        </tr>
    </table>
</div>

<div class="container">
    <table class="table">
        <tr>
            <th>PID</th><th>PName</th><th>Price</th><th>Stock</th>
        </tr>
        <tr *ngFor="let item of prodlist">
            <td>{{item.pid}}</td>
            <td>{{item.pname}}</td>
            <td>{{item.price}}</td>
            <td>{{item.stock}}</td>
        </tr>
    </table>
</div>